tr {
    cursor: pointer;
  }
  tr:hover {background-color: #0bc0ff;}

  .table{
    background-color: rgb(227, 255, 224);
  }

  .bordered{
    border: solid #ccc 1px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px; 
    -webkit-box-shadow: 0 6px #ccc; 
    -moz-box-shadow: 0 6px #ccc; 
    box-shadow: 0 6px #ccc; 
  }

  .route{
    background-color: #E8B794;
    border: solid #EE985B 2px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px; 
    -webkit-box-shadow: 0 6px #EE985B; 
    -moz-box-shadow: 0 6px #EE985B; 
    box-shadow: 0 6px #EE985B; 
  }
