.marketing-site-footer {
    bottom: 0;
    width: 100%;
    max-height: 100px;
    padding: 2rem 0 0;
  }
  
  .marketing-site-footer-bottom {
    color: #1f1e2b;
    background: #b7bbcd;
    padding: 1rem 0;
  }
  
  .marketing-site-footer-bottom p,
  .marketing-site-footer-bottom .menu {
    margin-bottom: 0;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
    color: #8aa0ae;
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (max-width: 63.9375em) {
    .marketing-site-footer-bottom {
      text-align: center;
    }
  }
  