
{% load  static %}

<link rel="stylesheet" href="{% static 'css/side_bar.css' %}"/>


<div class="sidebar">
    <header><img src="{% static 'img/POSTCOVID-AI-logo.svg' %}" alt="Avatar">POSTCOVID-AI</header>
    <ul>
     <li><a href="{% url 'home_app:home_panel' %}"><i class="fa fa-home"></i>Home</a></li>
     <li><a href="{% url 'questions_app:questions_all' %}"><i class="fa fa-question"></i>Questions</a></li>
     <li><a href="{% url 'contexts_app:contexts_all' %}"><i class="fa fa-comments"></i>Preambles</a></li>
     <li><a href="{% url 'questions_app:blocks_all' %}"><i class="fas fa fa-th"></i>Blocks</a></li>
     <li><a href="{% url 'answers_app:answers_all' %}"><i class="fas fa-users"></i>Answers</a></li>
     <li><a href="{% url 'answers_app:export-to-csv' %}"><i class="fas fa-download"></i>Export answers</a></li>
     <li><a href="{% url 'usuarios_app:update_user' user.id %}"><i class="fas fa-user"></i>My account</a></li>
     <li style="position: absolute; bottom: 10px;"><a style="color: #E74C3C;" href="{% url 'usuarios_app:user-logout' %}"><i class="fas fa-arrow-left"></i>Logout</a></li>
    </ul>
</div>

<header>
    <div class="top-bar" id="realEstateMenu" style=" background-color: #273746; overflow: hidden;">
        <div class="top-bar-right" style=" background-color: #whitesmoke; overflow: hidden;">
            <ul class="menu" style="background-color: whitesmoke";>
                <li class="menu-text" style="background-color: #2980B9; color:white;">Universidad de Granada</li>
            </ul>   
        </div>
    </div>
</header>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>
