{% load static %}

<link rel="stylesheet" href="{% static 'css/side_bar.css' %}"/>


<div class="sidebar">
    <!-- Toggle menu button for small devices -->
    <header>My app</header>
    <!-- Navigation -->
       <ul>
          <li><a href="#"><i class="fas fa-qrcode"></i>Menu Item 1</a></li>
          <li><a href="#"><i class="fas fa-link"></i>Menu Item 2</a></li>
          <li><a href="#"><i class="fas fa-qrcode"></i>Menu Item 2</a></li>
          <li><a href="#"><i class="fas fa-link"></i>Menu Item 2</a></li>
       </ul>
 </div>