{% extends "questions/base_questions.html" %}
{% load static %}

{% block content %}
{% include 'includes/header.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list_base.css' %}"/>
{% endblock css %}

<div class="header-block" style="margin-top:15px;">
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
          <ul class="tabs" data-tabs id="example-tabs">
            <li class="route tabs-title" style="margin:5px;">
              <a href="{% url 'home_app:home_panel' %}">Home</a>
            </li>   
            <li class="route tabs-title" style="margin:5px;">
                <a href="{% url 'questions_app:blocks_all' %}">Blocks</a>
           </li> 
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="table-block">
  <div class="grid-container fluid" >
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
        <a class="bn632-hover bn25" href="{% url 'questions_app:add_block' %}" style="float: right; margin: 10px;">+ Block</a>
        <body>
          <div class="search-container">
            <form method="GET" action="{% url 'questions_app:blocks_all' %}">
              <input type="text" name="search" placeholder="Search Block...">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <table class='styled-table'>
              <thead>
                <tr>
                  <th>Block</th>
                  <!--<th>Context</th>-->
                  <th>Frecuency</th>
                  <th>Creator</th>
                  <th>Date</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for blocks in lista_blocks %}
                  <tr data-href="{% url 'questions_app:update_block' blocks.id %}" >
                    <td>{{blocks.block}}</td>
                    <td>{{blocks.get_frecuency_display}}</td>
                    <td>{{blocks.creator}}</td>
                    <td>{{blocks.create}}</td>
                    {% if blocks.active %}
                        <td><input type='checkbox' style="margin-left:15px;"checked></td>
                    {% else %}
                        <td><input type='checkbox' style="margin-left:15px;"></td>
                    {% endif %}
                    <td style=" display: flex; justify-content: center; align-items: center;">
                      <form method="POST" action="{% url 'questions_app:clone_block' blocks.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn2" data-id="{{ blocks.id }}" name="{{blocks.block}}" title="Clone"><i class="fas fa-clone"></i></button>
                      </form>
                      <form method="POST" action="{% url 'questions_app:delete_block' blocks.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn show_confirm"  data-id="{{ blocks.id }}" name="{{blocks.block}}""><i class="fas fa-trash-alt"></i></button>
                      </form>
                    </td>
                  </tr>
                {% empty %}
                  <tr class="text-center">
                    <td colspan="6" style="background-color:#F1948A; font-weight: bolder; color:#EC3E30;">No items found.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Pagination">
              <ul class="pagination text-center">
                {% if page_obj.has_previous %}
                  <li class="pagination-previous"><a href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                {% endif %}
                {% for pagina in paginator.page_range %}
                  {% if pagina == page_obj.number %}
                    <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>
                  {% else %}
                    <li><a href="?page={{pagina}}">{{pagina}}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}">Next</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}

{% include 'questions/add_block.html' %}


{% block js %}
<script src="{% static 'js/list_blocks.js' %}"></script>   

{% endblock js %}
