{% extends "questions/base_questions.html" %}
{% load static %}

{% block content %}

{% include 'includes/header.html' %}


<link rel="stylesheet" href="{% static 'css/add_question.css' %}"/>
<link rel="stylesheet" href="{% static 'css/list_base.css' %}"/>



<div class="header-block" style="margin-top:15px;">
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
          <ul class="tabs" data-tabs id="example-tabs">
            <li class="route tabs-title" style="margin:5px;">
              <a href="{% url 'home_app:home_panel' %}">Home</a>
            </li>   
            <li class="route tabs-title" style="margin:5px;">
                <a href="{% url 'questions_app:blocks_all' %}">Blocks</a>
           </li> 
           <li class="route tabs-title" style="margin:5px;">
            <a href="{% url 'questions_app:update_block' object.id %}">Update Block</a>
          </li> 
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="table-block">
    <div class="grid-container fluid" >
      <div class="grid-x grid-padding-x">
        <div class="cell small-12" >
          <div class="translucent-form-overlay">
            <form method='POST'>{% csrf_token %}
              <div class="button-title-container">
                <h3>Update block</h3>
                <button type='submit' class="bn632-hover bn26">Save</button>
              </div>
              <div class="row columns">
                <label>Block:
                  {{form.block}}
                </label>
              </div>
              <div class="row columns">
                <label>Preamble:
                  {{form.context}}
                </label>
              </div>
              <h4>Features</h4>
              <div class="row columns">
                <label>Frecuency:
                  {{form.frecuency}}
                </label>
              </div>
              <div class="row columns">
                <label>Active:
                  {{form.active}}
                </label>
              </div>
              <div class="row columns">
                <label>Importance:
                  {{form.importance}}
                </label>
              </div>
            <h4>Planning</h4>
            <div class="column" style="display: flex;">
              <div class="row columns">
                <label>Time (HH:MM:SS):
                  {{form.time}}
                </label>
              </div>
              <div class="row columns">
                <label>Day:
                  {{form.days}}
                </label>
              </div>
              <div class="row columns">
                <label>Duration (Minutes):
                  {{form.duration}}
                </label>
              </div>
            </div>
            <h4>Questions</h4>
            <div class="row columns">
              <label>
                {{form.question}}
              </label>
            </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

