{% extends "questions/base_questions.html" %}
{% load static %}

{% block content %}

{% include 'includes/header.html' %}


<link rel="stylesheet" href="{% static 'css/add_question.css' %}"/>
<link rel="stylesheet" href="{% static 'css/list_base.css' %}"/>



<div class="header-block" style="margin-top:15px;">
  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
          <ul class="tabs" data-tabs id="example-tabs">
            <li class="route tabs-title" style="margin:5px;">
              <a href="{% url 'home_app:home_panel' %}">Home</a>
            </li>   
            <li class="route tabs-title" style="margin:5px;">
                <a href="{% url 'contexts_app:contexts_all' %}">Preambles</a>
           </li> 
            <li class="route tabs-title" style="margin:5px;">
              <a href="{% url 'contexts_app:add_context' %}">Add Preambles</a>
            </li> 
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="table-block">
  <div class="grid-container fluid" >
    <div class="grid-x grid-padding-x">
      <div class="cell small-12" >
        <div class="translucent-form-overlay">
          <form method='POST'>{% csrf_token %}
            <h3>Add Preamble</h3>
            <div class="row columns">
              <label>Preamble
                {{form.name}}
              </label>
            </div>
            <div class="row columns">
              <label>Messages (Please write one message per line)
                {{form.messages}}
              </label>
            </div>
            <button type='submit' class="bn632-hover bn26">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}